
<div class="container" style="padding:50px">
                <div class="row">
                                <div class="col-sm-6 col-sm-offset-3">
                                        <h4>Add new task</h4>
                                        <form name="myform"  novalidate>
                                          <div class="form-group">
                                         <label for="title">Title</label>
                                         <input id="title" name="title" class="form-control" ng-model="body.name" required> <br>
                                         </div>
                                         <button  ng-click="submitForm()" class="btn btn-primary">Create</button>
                                        </form>
                                        </div>
                                        </div>
        </div>